<app-new-tag (createdTag)="onCreateTag($event)"></app-new-tag>
<div class="box">
    <div class="box-header">
        <span class="box-title">Tags</span>
    </div>
    <ul class="box-container">
        <mat-spinner *ngIf="loading$ | async"></mat-spinner>
        <ng-container *ngIf="loading$">
            <ng-container *ngIf="tags$ | async as tags">
                <li class="box-row" *ngFor="let tag of tags">
                    <app-tag-list-item
                        [tag]="tag" class="d-flex flex-item-center" (deletedTag)="onDeleteTag($event)">
                    </app-tag-list-item>
                </li>
            </ng-container>
        </ng-container>
    </ul>
</div>
<mat-paginator *ngIf="tags$ | async as tags" [length]="countTags$ | async"
    [pageSize]="tags.length"
    [pageSizeOptions]="[10, 25, 50, 100]"
    aria-label="Select page" (page)="onChangePage($event)">
</mat-paginator>
