.anemometer-item {

    height: 100%;

    .anemometer-item-title {
        font-size: larger;
    }

    .anemometer-coordinates {
        list-style-type: none;
    }

    .anemometer-item-footer{
        position: sticky;
        top: 100%;
    }
}