mat-card{
    width: 100%;
    display: flex;
    flex-direction: column;
}

mat-card-header{
    flex-shrink: 0
}

mat-card-content{
    flex-grow: 1;
}

mat-card-footer{
    flex-shrink: 0;
}

.anemometer-coordinates{
    padding-left: 0;
    flex-direction: column;
}

.anemometer-coordinates li{
    list-style-type: none;
}

.anemometer-meanspeeds{
    margin-top: 10px;
}
