mat-card{
    width: 100%;
}

.anemometer-coordinates{
    padding-left: 0;
}

.anemometer-coordinates li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

.anemometer-coordinates li:first-of-type{
    margin-left: 0;
}

.anemometer-meanspeeds{
    margin-top: 10px;
}
