<mat-card (click)="onViewAnemometer()">
    <mat-card-header>
      <mat-card-title>
        <span>{{ anemometer.name | titlecase }}</span>
        <a routerLink="/anemometer">Back</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="anemometer-coordinates">
            <li>Lat : {{ anemometer.latitude }}</li>
            <li>Long : {{ anemometer.longitude }}</li>
            <li>Alt : {{ anemometer.altitude }} m</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <app-tags [tags]="anemometer.tags"></app-tags>
    </mat-card-footer>
  </mat-card>