.form-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
  }
  
  .form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  input, textarea {
    width: 50%;
  }
  
  .action-buttons {
    width: 100%;
  }
  
  .logon-card {
    margin: 50px auto 20px;

    mat-card-content{
      mat-form-field:first-child{
        margin-top: 10px;
      }
    }
  }
  

  .alert-warning {
    color: #e53935;
    background-color: rgba(229,57,53,.15);
  }
  
  .button-warning{
    color: #e53935;
  }