<mat-toolbar class="d-flex flex-item-center" color="primary">
    <a>WindForLife</a>
    <ul>
        <li>
            <button mat-button [matMenuTriggerFor]="menuTags">Tags</button>
            <mat-menu #menuTags="matMenu">
                <button mat-menu-item routerLink="/tag">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menuAnemos">Anemometers</button>
            <mat-menu #menuAnemos="matMenu">
                <button mat-menu-item routerLink="/anemometer/new" *ngIf="authService.isAuthenticated()">New</button>
                <button mat-menu-item routerLink="/anemometer">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menuWinds">Winds</button>
            <mat-menu #menuWinds="matMenu">
                <button mat-menu-item routerLink="/wind/new" *ngIf="authService.isAuthenticated()">New</button>
                <button mat-menu-item routerLink="/wind">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button routerLink="/map">Map</button>
        </li>
    </ul>
    <div class="login">
        <button mat-button [matMenuTriggerFor]="authent">
            <mat-divider [vertical]="true"></mat-divider>
            <mat-icon style="position: relative; left: -6px;">{{authService.isAuthenticated() ? 'person_pin' : 'more_vert' }}</mat-icon>
            <span *ngIf="authService.isAuthenticated()">{{getUser()}}</span>
          </button>
          <!--  -->
          <!-- menu principal -->
          <mat-menu #authent="matMenu" xPosition="before">
            <button mat-menu-item class="login-logout" (click)="go('/login', authService.isAuthenticated())">
              <mat-icon *ngIf="authService.isAuthenticated()">power_settings_new</mat-icon>
              {{authService.isAuthenticated() ? 'Déconnexion' : 'Connexion'}}
            </button>
          </mat-menu>
    </div>
</mat-toolbar>