<mat-toolbar color="primary">
    <a routerLink="/home">WindForLife</a>
    <ul>
        <li>
            <button mat-button [matMenuTriggerFor]="menuTags">Tags</button>
            <mat-menu #menuTags="matMenu">
                <button mat-menu-item routerLink="/tag">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menuAnemos">Anemometers</button>
            <mat-menu #menuAnemos="matMenu">
                <button mat-menu-item routerLink="/anemometer/new">New</button>
                <button mat-menu-item routerLink="/anemometer">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menuWinds">Winds</button>
            <mat-menu #menuWinds="matMenu">
                <button mat-menu-item routerLink="/wind/new">New</button>
                <button mat-menu-item routerLink="/wind">List</button>
            </mat-menu>
        </li>
    </ul>
</mat-toolbar>