<mat-toolbar class="d-flex flex-item-center" color="primary">
    <a>WindForLife</a>
    <ul>
        <li>
            <button mat-button [matMenuTriggerFor]="menuTags">Tags</button>
            <mat-menu #menuTags="matMenu">
                <button mat-menu-item routerLink="/tag">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menuAnemos">Anemometers</button>
            <mat-menu #menuAnemos="matMenu">
                <button mat-menu-item routerLink="/anemometer/new">New</button>
                <button mat-menu-item routerLink="/anemometer">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menuWinds">Winds</button>
            <mat-menu #menuWinds="matMenu">
                <button mat-menu-item routerLink="/wind/new">New</button>
                <button mat-menu-item routerLink="/wind">List</button>
            </mat-menu>
        </li>
        <li>
            <button mat-button routerLink="/map">Map</button>
        </li>
    </ul>
    <div class="login">
        <ng-container *ngIf="user">
            <button mat-button [matMenuTriggerFor]="menuUser">{{user.fullname | titlecase}}</button>
            <mat-menu #menuUser="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </ng-container>
        <button mat-button *ngIf="!user" routerLink="/login/">Log In</button>
    </div>
</mat-toolbar>