<form [formGroup]="windForm">
    <mat-form-field appearance="fill">
        <mat-label>Speed</mat-label>
        <input matInput type="number" placeholder="Speed" formControlName="speed">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Direction</mat-label>
        <input matInput type="number"  placeholder="Direction" min="0" step="1" formControlName="direction">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput type="datetime-local" class="form-control" placeholder="start date" formControlName="time">
        <mat-error *ngIf="windForm.controls['time'].errors">{{windForm.controls['time'].errors['invalidDate']}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Anemometer</mat-label>
        <mat-select formControlName="anemometer_id">
            <mat-option *ngFor="let anemometer of allAnemometers$ | async" [disabled]="anemometer_id ? (anemometer_id !== anemometer.id ? true: false) : false" [value]="anemometer.id">
                {{anemometer.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button color="primary" (click)="onSubmit()">Add wind</button>
</form>
