.action-buttons button, .action-buttons a {
    margin: 5px;
}

li{
    list-style-type: none;
}

mat-card{
    width: 70%;
    margin: auto;
}

a{
    color: #673ab7;
}

table{
    width: 100%
}

.mat-card-actions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.action-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

app-wind-add{
    margin: auto
}