.link {
    color: #673ab7;
  }

  table {
    width: 100%;
  }

  .mat-mdc-card-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  app-wind-add {
    margin: auto;
  }