<mat-card *ngIf="anemometer$ | async as anemometer">
    <mat-card-header class="d-flex flex-item-center">
      <mat-card-title class="d-flex flex-item-center">
        <span>{{ anemometer.name | titlecase }}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="anemometer-coordinates">
            <li>Lat : {{ anemometer.latitude }}</li>
            <li>Long : {{ anemometer.longitude }}</li>
            <li>Alt : {{ anemometer.altitude }} m</li>
        </ul>
        <section class="anemometer-meanspeeds" *ngIf="anemometer.mean_speed_today || anemometer.mean_speed_week">
            <span>Mean speeds</span>
            <ul>
                <li *ngIf="anemometer.mean_speed_today">Today : {{ anemometer.mean_speed_today }} kn</li>
                <li *ngIf="anemometer.mean_speed_week">This week : {{ anemometer.mean_speed_week }} kn</li>
            </ul>
        </section>
    </mat-card-content>
    <mat-card-footer>
        <app-tags [tags]="anemometer.tags"></app-tags>
    </mat-card-footer>
  </mat-card>