html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
}

.d-flex{
  display: flex !important;
}

.flex-item-center{
  align-items: center !important;
}

.flex-auto{
  flex: auto !important;
}

.flex-justify-end{
  justify-content: flex-end !important;
}

.col-6{
  width: 49.99999998%;
}