<div class="actions-container">
    <button mat-raised-button color="primary" routerLink="new" *ngIf="authService.isAuthenticated()">
      Add anemometer
    </button>
    <div class="search-container">
      <mat-form-field>
        <input matInput type="text" [formControl]="searchCtrl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select [formControl]="searchTypeCtrl">
          <mat-option *ngFor="let option of searchTypeOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
  <div class="anemometers-container">
    <h2>Anemometers</h2>
    <mat-spinner *ngIf="loading$ | async; else anemometers"></mat-spinner>
    <ng-template #anemometers>
      <div *ngIf="anemometers$ | async as anemometers" class="anemometers">
        <app-anemometer-list-item class="anemometer-card"
          *ngFor="let anemometer of anemometers" 
          [anemometer]="anemometer">
        </app-anemometer-list-item>
      </div>
    </ng-template>
    <mat-paginator *ngIf="anemometers$ | async as anemometers"
      (page)="onChangePage($event)"
      [length]="countAnemometers$ | async"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [pageIndex]="pageIndex"
      aria-label="Select page">
    </mat-paginator>
  </div>