.anemometers{
    background-color: #f6f8fa;
    border-radius: 10px;
    padding: 20px;
}

.card{
    margin-top: 1%;
    width: 32%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
