<div class="d-flex flex-wrap flex-justify-between flex-item-center">
    <div class="actions-buttons">
        <a mat-flat-button color="primary" routerLink="new">Add anemometer</a>
    </div>
    <div class="search">
        <mat-form-field appearance="fill">
            <input matInput type="text" [formControl]="searchCtrl">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select [formControl]="searchTypeCtrl">
                <mat-option *ngFor="let option of searchTypeOptions" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="anemometers box-shadow">
    <div class="bold-title">
        <h2>Anemometers</h2>
    </div>
    <mat-spinner *ngIf="loading$ | async; else anemos"></mat-spinner>
    <ng-template #anemos>
        <mat-nav-list *ngIf="anemometers$ | async as anemometers" class="d-flex flex-wrap flex-justify-between">
            <app-anemometer-list-item class="card" mat-list-item
                *ngFor="let anemometer of anemometers" 
                [anemometer]="anemometer">
            </app-anemometer-list-item>
        </mat-nav-list>
    </ng-template>
    <mat-paginator *ngIf="anemometers$ | async as anemometers"
        (page)="onChangePage($event)"
        [length]="countAnemometers$ | async"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [pageIndex]="pageIndex"
        aria-label="Select page">
    </mat-paginator>
</div>
