<div class="form">
    <mat-form-field appearance="fill">
        <input matInput type="text" [formControl]="searchCtrl">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-select [formControl]="searchTypeCtrl">
            <mat-option *ngFor="let option of searchTypeOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="anemometers box-shadow">
    <div class="bold-title">
        <h2>Anemometers</h2>
    </div>
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    <mat-nav-list *ngIf="anemometers$ | async as anemometers" class="d-flex flex-wrap flex-justify-between">
        <app-anemometer-list-item class="card" mat-list-item
            *ngFor="let anemometer of anemometers" 
            [anemometer]="anemometer">
        </app-anemometer-list-item>
    </mat-nav-list>
</div>
